<div class="btn-toolbar" role="toolbar">
<div class="btn-group btn-group-lg">
  <button type="button" class="btn btn-default">Monday</button>
  <button type="button" class="btn btn-default">Tuesday</button>
  <button type="button" class="btn btn-default">Wednesday</button>
</div>

<div class="btn-group btn-group-sm">
  <button type="button" class="btn btn-default">Thursday</button>
  <button type="button" class="btn btn-default">Friday</button>
  <button type="button" class="btn btn-default">Saturday</button>
</div>

<div class="btn-group btn-group-xs">
  <button type="button" class="btn btn-default">Sunday</button>
</div>
</div>
