<div class="dropdown">
  <button type="button" class="btn dropdown-toggle" id="dropdownMenu" data-toggle="dropdown">
    Dropdown
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
    <li role="presentation">
      <a role="menuitem" tabindex="-1" href="#">Java</a>
    </li>
    <li role="presentation">
      <a role="menuitem" tabindex="-1" href="#">Ruby</a>
    </li>
    <li role="presentation">
      <a role="menuitem" tabindex="-1" href="#">Python</a>
    </li>
    <li role="presentation" class="divider"></li>
    <li role="presentation">
      <a role="menuitem" tabindex="-1" href="#">Bootstrap</a>
    </li>
    <li role="presentation">
      <a role="menuitem" tabindex="-1" href="#">Angular</a>
    </li>
  </ul>
</div>
