<div style="padding: 100px 100px 10px;">
  <form class="bs-example bs-example-form" role="form">
    <div class="input-group">
      <span class="input-group-addon">@</span>
      <input type="text" class="form-control" placeholder="twitterhandle">
    </div>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="twitterhandle">
      <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
    </div>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="twitterhandle">
      <span class="input-group-addon">&</span>
    </div>
  </form>
</div>
