<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">W3Cschool</a>
  </div>
  <div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Java</a></li>
      <li><a href="#">Python</a></li>
      <li><a href="#">Ruby</a></li>
      <li><a href="#">JavaScript</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#/nav-bar">
          Perl<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#">Java</a></li>
          <li><a href="#">Python</a></li>
          <li><a href="#">Ruby</a></li>
          <li><a href="#">JavaScript</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
